body {
  width: 100%;
text-align: center;

}

h1{
  text-align: center;
}

#featured-property{
  *p{
    width: 800px;
    text-align:center;
  }
  
}

figcaption{
  text-align: center;
  font-size: medium;
}

nav{
  text-align: center;
  a{
    padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
  }
}

div{
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}